.sidebar {
  height: 100vh;
  width: 424px;
  background-color: #ffdedc;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 45px;
  position: relative;

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;

    .avatar {
      .downloadCvButton {
        display: none;
      }
    }

    .title {
      margin-top: 20px;
      font-size: 30px;
      font-weight: 600;
    }

    .info {
      text-align: center;
      margin-top: 10px;
      font-size: 18px;
      font-weight: 600;
      color: #787474;
    }

    .email {
      display: none;
    }
  }

  .navigationListWrapper {
    margin-top: 50px;
    margin-bottom: 106px;

    .navigationList {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: calc(100vh - (106px + 413px + 45px));
      overflow: scroll;
      width: 100%;
      padding: 30px 0;

      .navigationListItem {
        span {
          font-size: 18px;
          font-weight: 600;
          cursor: pointer;
        }

        &:not(:first-child) {
          margin-top: 50px;
        }

        &.active {
          span {
            color: var(--primary-text-color);
            font-weight: 700;
          }
        }
      }
    }

    .toggleMenu {
      display: none;
    }
  }
}

@media (max-width: 900px) {
  .sidebar {
    width: 280px;

    .profile {
      .avatar {
        width: 220px;
        height: 220px;
  
        img {
          width: 100%;
          height: 100%;
        }
      }

      .title {
        margin-top: 15px;
      }
  
      .info {
        margin-top: 5px;
      }
    }

    .navigationListWrapper {
      .navigationList {
        height: calc(100vh - (70px + 343px + 45px));
        justify-content: center;
      }
    }

  }
}

@media (max-width: 550px) {
  .sidebar {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 20px;

    .profile {
      .avatar {
        position: relative;

        .downloadCvButton {
          background-color: #fdc8c5;
          position: absolute;
          border-radius: 50%;
          z-index: 1000;
          bottom: 10px;
          right: 20px;
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.11);

          img {
            display: block;
            margin-left: 5px;
          }
        }
      }

      .title {
        margin-top: 5px;
        color: var(--primary-text-color);
      }

      .info {
        margin-top: 0;
      }

      .email {
        display: block;
        font-size: 18px;
        color: #a89fa5;
        text-decoration: underline;
      }
    }

    .navigationListWrapper {
      position: fixed;
      height: 55px;
      background-color: #986865;
      z-index: 1000;
      top: 0;
      left: 0;
      right: 0;
      margin: 0;
      transition: all 0.4s ease-in-out;

      .navigationList {
        display: none;
      }

      .toggleMenu {
        display: block;
        position: absolute;
        right: 10px;
        top: 15px;
        margin: auto 0;
        cursor: pointer;

        path {
          transition: all 0.3s ease-in-out;
        }
      }

      &.active {
        height: 100vh;

        .navigationList {
          height: 100%;
          width: 100%;
          align-items: center;
          justify-content: center;
          display: flex;
          flex-direction: column;

          .navigationListItem {
            span {
              font-size: 25px;
              color: #ffffff;
            }
            &.active {
              span {
                color: var(--primary-text-color);
                font-weight: 700;
              }
            }
          }
        }

        .toggleMenu {
          path {
            &:nth-child(1) {
              transform: rotate(45deg) translate(5px, -19px);
            }
            &:nth-child(2) {
              display: none;
            }
            &:nth-child(3) {
              transform: rotate(-45deg) translate(-15px, 12px);
            }
          }
        }
      }
    }
  }
}
