.mainContent {
  flex: 1;
  background-color: #f4f9fa;
  padding: 30px 45px 30px 30px;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  overflow-y: scroll;
}

@media (max-width: 550px) {
  .mainContent {
    height: auto;
    max-height: unset;
    overflow-y: unset;
    padding: 20px 10px;
    padding-bottom: 80px;
  }
}
